.about-me {
    height: 50vh;
    width: 100%;
}

.info {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.info div {
    width: 40%;
    margin: 0 100px;
}

.info div h2 {
    color: #fff;
    text-align: left;
    font-weight: 150;
    text-decoration: underline;
    margin-bottom: 5px;
}

.info div p {
    color: #fff;
}
