@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import 'header';
@import 'scrollbar';
@import 'about';
@import 'responsive';
$primary: #272F3B;
$white: #fff;

html {
    scroll-behavior: smooth;
}

.links {
    color: #918CC3;
    text-decoration: none;
    transition: .4s;
    &:hover {
        font-size: 18px;
        transition: .4s;
    }
}

